<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            {% if app.user.id is not defined %}
            <li class="nav-item
                {% if path(app.request.attributes.get('_route')) == path('register') %}
                active
                {% endif %}">
                <a class="nav-link" href="{{ path('register') }}">Register <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item
                {% if path(app.request.attributes.get('_route')) == path('app_login') %}
                active
                {% endif %}">
                <a class="nav-link" href="{{ path('app_login') }}">Login </a>
            </li>
            {% else %}
                <li class="nav-item
                {% if path(app.request.attributes.get('_route')) == path('app_logout') %}
                active
                {% endif %}">
                    <a class="nav-link" href="{{ path('app_logout') }}">Log out </a>
                </li>
                <li class="nav-item {% if path(app.request.attributes.get('_route')) == path('cabinet') or path(app.request.attributes.get('_route')) == path('cabinet.article') %}
                active
                {% endif %}">
                    <a class="nav-link" href="{{ path('cabinet') }}">Cabinet</a>
                </li>
            {% endif %}
            <li class="nav-item
                {% if path(app.request.attributes.get('_route')) == path('home') %}
                active
                {% endif %}">
                <a class="nav-link" href="{{ path('home') }}">Home</a>
            </li>
        </ul>
    </div>
</nav>