{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if exist > 0 %}
            {% for article in pagination %}
                <div class="row">
                    <div class="col-12 text-center">
                        <h1>{{ article.title }}</h1>
                    </div>
                    <div class="col-8">
                        {{ article.content }}
                    </div>
                    <div class="col-4">
                        <img src="{{ article.img }}" alt="img">
                    </div>
                    <div class="col-12 text-right">
                        Author - {{ article.name }}. {{ article.datetime | date('Y-m-d H:i:s') }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h1>There isn't any article</h1>
        {% endif %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
