{% extends 'base.html.twig' %}

{% block title %}Cabinet{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="mb-2 col text-center">
                <a class="btn btn-primary" href="{{ path('cabinet.article') }}" role="button">Add article</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                </th>
                <th{% if pagination.isSorted('a.content') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Content', 'a.content') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Img', 'a.img') }}
                </th>
                <th{% if pagination.isSorted(['a.datetime', 'a.time']) %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'Date', ['a.datetime', 'a.datetime']) }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.content|slice(0, 100) }}
                        {% if article.content|length > 100 %}
                            ...
                        {% endif %}
                    </td>
                    <td><img src="{{ article.img }}" alt="img"></td>
                    <td>{{ article.datetime | date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
